#terminal-wrapper {
	height: 100vh;
	width: 100%;
	align-self: center;
	padding-top: 8%;

	#console {
		background: #353535;
		color: white;
		width: 100%;
		height: 60%;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
}
